streamlit==1.39.0
requests==2.32.3
pandas==2.2.3
PyMuPDF==1.24.11
google-generativeai==0.8.3
selenium==4.26.1
beautifulsoup4==4.12.3
openpyxl==3.1.5
openai==1.51.2
streamlit-autorefresh==1.0.1
webdriver-manager==4.0.2
